/GuerickeDatasetMOV.mov
/guericke_dataset/
/guericke_dataset_2/
/test-dataset/
/dataset_output/
/.idea/
/.venv/
/.env
/.idea/BachelorArbeit.iml
/cache/
/ros/
/validation/yolo*.pt
/validation/*.png
/validation/*.pgf
checkerboard.png
*.mp4
models/*
!models/.gitkeep
maps/*
!maps/.gitkeep
exports/*
!exports/.gitkeep
output/*
!output/.gitkeep
datasets/*
!datasets/.gitkeep